@import '../css/typograpy.css';

body{
    background-color: #ffffff;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 33px;
    background-color: #ff7f00;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search{
    height: 84px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

input[name="search"] {
    box-sizing: border-box;
    border: transparent;
    border-bottom: 2px solid gray;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    background-image: url('../graphics/search-icon.png');
    background-repeat: no-repeat;
    background-size: 10px 10px;
    padding-left: 20px;
    font-size: 9.5px;
    font-family: Montserrat;
    font-weight: 500;
}

input[name="search"] img{
    height: 10px;
    width: 10px;
}

.search-box{
    color: transparent;
    /* padding-left: 26.1px; */
}

.keywords{
    /* width: 205px; */
    height: 29px;
    /* background-color: bisque; */
    color: black;
    font-size: 9.5px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-family: Montserrat;
    color: #040a2c;
}

.keywords span{
    cursor: pointer;
}


.upper-logo{
    width: 66px;
    height: 11px;
    margin-left: 25px;
}


.layout{
    width: 600px;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    /* padding: 20px; */
}

.main-gallery{
    /* height: 500px; */
    /* width: 500px; */
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #e3e3e3;
}

.gallery{
    margin: 0;
    padding: 13.5px 25px 13.5px 25px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.img-gallery{
    height: 139px;
    width: 176px;
    cursor: pointer;
}

.tools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    width: 186.5px;
}

.basic-buttons{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.extras{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.text{
    color: white;
    font-size: 50px;
    background: transparent;
}

button {
    font-size: 10px;
}

button[name="add-text"]{
    width: 30px;
    height: 30px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    background-image: url('../graphics/add.png');
    background-size: 19.6px 19.6px;
    background-repeat: no-repeat;
    background-position-x: 5.2px;
    background-position-y: 5.2px;
    cursor: pointer;
    margin-top: 5px;
}
button[name="delete-button"]{
    width: 30px;
    height: 30px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    background-image: url('../graphics/trash.png');
    background-size: 19.6px 19.6px;
    background-repeat: no-repeat;
    background-position-x: 5.2px;
    background-position-y: 5.2px;
    cursor: pointer;
}
button[name="swich-button"]{
    width: 30px;
    height: 30px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    background-image: url('../graphics/up-and-down-opposite-double-arrows-side-by-side.png');
    background-size: 19.6px 19.6px;
    background-repeat: no-repeat;
    background-position-x: 5.2px;
    background-position-y: 5.2px;
    cursor: pointer;
}

button[name="font+"]{
    width: 30px;
    height: 30px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    background-image: url('../graphics/increase\ font\ -\ icon.png');
    background-size: 19.6px 19.6px;
    background-repeat: no-repeat;
    background-position-x: 5.2px;
    background-position-y: 5.2px;
    cursor: pointer;
    color: transparent;
}

button[name="font-"]{
    width: 30px;
    height: 30px;
    padding: 5.5px 5.2px 4.9px 5.2px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    background-image: url('../graphics/decrease\ font\ -\ icon.png');
    background-size: 19.6px 19.6px;
    background-repeat: no-repeat;
    background-position-x: 5.2px;
    background-position-y: 5.2px;
    cursor: pointer;
    color: transparent;
}

button[name="exit-button"] {
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    /* opacity: 0.3; */
    cursor: pointer;
}
button[name="exit-button"]:hover{
    opacity: 1;
}


footer{
    height: 103.5px;
    width: 100%;
    background-color: #ff7f00;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer{
    width: 66.5px;
    height: 11px;
}

small{
    font-family: Montserrat;
    font-size: 9.5px;
    font-weight: 100;
    color: #fff;
    margin-top: 4.4px;
    opacity: 0.6;
}

.editor-container{
    display: none;
    width: 100%;
    height: 300px;
    background-color: #e3e3e3;
    
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 15px;
}

input[name="insert-text"]{
    background-color: #ffffff;
    border: 0;
    border-radius: 6px;
    width: 186.5px;
    height: 30px;
    font-size: 10px;
    font-family: Montserrat;
    color: #000;
}

.color-picker{
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #fff;
    border: 0;
    background-image: url('../graphics/paint-board-and-brush.png');
    background-size: 19.6px 19.6px;
    background-repeat: no-repeat;
    background-position-x: 5.2px;
    background-position-y: 5.2px;
    cursor: pointer;
    color: transparent;
}

